:root {
    --DarkerGray: #1b1d1d;
    --Gray: #3F4545;
    --MediumGray: #464a4a;
    --DarkBlue: #123B79;
    --LightBlue: #18A5A7;
    --DarkLightBlue: #229395;
    --LightGray: #D9D9D9;
    --LighterGray: #eceaea;
    --EvenLighterGray: #f6f4f4;
    --White: white;
    --OrangeSelect: rgb(255, 166, 0);
}


 .navbar {
    background-color: var(--DarkBlue);
 }
 
 html,body {
    user-select: none;
 }


.nav-link {
    cursor: pointer;
}


#dropdownCardapio, #dropdownBebidas
{
    border: none;
    outline: none;
    background-color: var(--LightGray);
}

#LICardapio, #LIBebidas {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}
#LICardapio:hover,
#LIBebidas:hover {
    font-weight: 550;
    background-color: var(--OrangeSelect);

}
#shortcutsHeader {
    font-weight: 100;
}

#shortcutsHeader:hover {
    transform: scale(1.03);
    font-weight: 550;
}

#shortcutsHeader img {
    vertical-align: top;
    height: 20px;
    width: 20px;
}

.content {
    height: 50%;
    width: 100%;
}

.content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--EvenLighterGray);

}

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
}

.card {
    height: 100%;
    background-color: var(--EvenLighterGray);
}

body {
    background-color: var(--DarkerGray);
}

.card h5 {
    color: var(--Gray);
}

.maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
}
.page-footer {
    background-color: var(--Gray);
}



iframe {
    width: 90%;
    height: 400px;
}

.boxesCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.divImg {
    height: 180px;
    width: 70%;
    background-color: black;
}

.divImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 768px) { 
    .divImg {
        height: 180px;
        width: 20%;
    }
    iframe {
        width: 70%;
        height: 400px;
    }
}

@media (min-width: 992px) { 
    .divImg {
        height: 180px;
        width: 20%;
    }
    iframe {
        width: 70%;
        height: 400px;
    }
 }

@media (min-width: 1200px) { 
    .divImg {
        height: 180px;
        width: 20%;
    }
    iframe {
        width: 70%;
        height: 400px;
    }
 }



a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
